.hero-body {
    font-family: 'MuseoModerno', cursive;
}

#top-container {
    margin-top: 40px;
    font-family: 'Crimson Text', serif;
}

#middle-container {
    margin-top: 60px;
    margin-bottom: 60px;
    font-family: 'Crimson Text', serif;
}

.columns {
    background-color: rgba(236, 240, 241, 0.8);
}

body {
    background-image: url("https://cdn3.vectorstock.com/i/1000x1000/27/97/alcohol-shelf-background-full-of-bottles-vector-3272797.jpg");
    background-color: #000000;
    max-height: 100%;
    max-width: 100%;
    display: block;
    background-repeat: no-repeat;
}

.title {
    font-family: 'Metal Mania', cursive;
    font-size: 28px;
    color: black;
}

p {
    font-family: 'Domine', serif;
    font-size: 20px;
}