.hero-body {
    font-family: 'MuseoModerno', cursive;
}

#top-container {
    margin-top: 40px;
}

#middle-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.columns {
    background-color: rgba(236, 240, 241, 0.8);
}